.whatsapp-button {
  width: 100%;
  background: #10b981;
  color: white;
  font-weight: 600;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  border: none;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.whatsapp-button:hover {
  background-color: #059669;
}

.button-icon {
  width: 18px;
  height: 18px;
}

.generate-button:hover {
  background: #059669;
}

.link-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: Arial, sans-serif;
  margin-top: 1rem;
}

.formLabel {
  font-weight: 600;
  margin-bottom: 4px;
}

.link-box {
  height: 2.7rem;
  display: flex;
  align-items: center;
  padding-left: 0.7rem;
  border: 1px solid #989898;
  border-radius: 6px;
  background: #fff;
}

.link-input {
  max-height: 100%;
  flex: 1;
  border: none;
  outline: none;
  font-size: 14px;
  color: #059669;
  word-break: break-all;
  overflow-y: auto;
  overflow-x: hidden;
}

.copy-button {
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  transition: 0.2s;
}

.copy-button:hover {
  transition: 0.2s;
  transform: scale(1.07);
  position: relative;
}

.boxBoxLink {
  display: flex;
  align-items: center;
}

.link-copiado {
  padding: 0;
  padding-left: 80%;
  font-size: 0.8rem;
  height: 0.8rem;
  color: #059669;
}

/* Fixando link copiado ao botão*/

.copy-button {
  position: relative;
}

.link-copiado {
  position: absolute;
  top: -25px;
  right: 0;
  color: #059669;
  font-size: 12px;
  white-space: nowrap;
}
